@model IEnumerable<Seasharpbooking.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgList)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfBeds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ImgList)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
            <td>
                <a href="@Url.Action("Create", "Category", new { id = item.Id})"> Redigera</a> |
                <a href="@Url.Action("Delete", "Category", new { id = item.Id})"> Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
