@model IEnumerable<Seasharpbooking.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Typ av rum</h1>

<p>
    <a asp-action="Create">Lägg till ny typ av rum</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @*@Html.DisplayNameFor(model => model.Description)*@ Typ av rum
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.ImgList)*@ Bild
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.NumberOfBeds)*@ Antal bäddar
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Price)*@ Pris/Dygn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBeds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            @*<td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>*@
        <td>
            @*Ändrar från Create till Edit, samt från Category till Room*@          
            <a href="@Url.Action("Edit", "Category", new { id = item.Id})"> Redigera</a> |
            <a href="@Url.Action("Delete", "Category", new { id = item.Id})"> Ta bort</a>
        </td>
        </tr>
}
    </tbody>
</table>
