@model IEnumerable<Seasharpbooking.Models.CategoryModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Typ av rum</h1>

<p>
    <a asp-action="Create">Lägg till ny typ av rum</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Typ av rum
            </th>
            <th>
                Bild
            </th>
            <th>
                Antal bäddar
            </th>
            <th>
                Pris/Dygn
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <a href="@item.Path">
                    <img src="@item.Path" style="height: 100px" />
                </a>              
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfBeds) st
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price) kr
            </td>            
        <td>
            @*Ändrar från Create till Edit, samt från Category till Room*@          
            <a href="@Url.Action("Edit", "Category", new { id = item.Id})"> Redigera</a> |
            <a href="@Url.Action("Delete", "Category", new { id = item.Id})"> Ta bort</a>
        </td>
        </tr>
}
    </tbody>
</table>
