@model IEnumerable<Seasharpbooking.Models.BookingModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Bokning</h1>

<p>
    <a asp-action="Create">Skapa bokning</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["BookingIDSortParm"]">BokningsID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["StartDateSortParm"]">Incheckning</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["EndDateSortParm"]">Utcheckning</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RoomTypeSortParm"]">Typ av rum</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["RoomIDSortParm"]">RumsID</a>
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["GuestIDSortParm"]">GästID</a> 
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestId)
            </td>
            <td>
                @*Ändrar från Create till Edit, samt från Category till Room*@
                <a href="@Url.Action("Edit", "Booking", new { id = item.Id, CategoryId = item.CategoryId, EndDate = item.EndDate, StartDate = item.StartDate, GuestId = item.GuestId})"> Redigera</a> |
                <a href="@Url.Action("SuperDelete", "Booking", new { id = item.Id})"> Ta bort</a>
            </td>
        </tr>
    }
    </tbody>
</table>
