@model IEnumerable<Seasharpbooking.Models.BookingModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Bokning</h1>

<p>
    <a asp-action="Create">Skapa bokning</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
            @*@Html.DisplayNameFor(model => model.Id)*@ Booknings ID
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.StartDate)*@ Incheckning
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.EndDate)*@ Utcheckning
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RoomId)*@ Rums Typ @*Här bör vi kanske ha en länk direkt kopplat till det aktuella rummet*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.GuestId)*@ Rums ID @*Gästens för och efternamn*@
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.GuestId)*@ Gäst ID @*Gästens för och efternamn*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
   @foreach (var item in Model) {
        <tr>
            <td>
            @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestId)
            </td>
            <td>
                @*Ändrar från Create till Edit, samt från Category till Room*@
                <a href="@Url.Action("Edit", "Booking", new { id = item.Id, CategoryId = item.CategoryId, EndDate = item.EndDate, StartDate = item.StartDate, GuestId = item.GuestId})"> Redigera</a> |
                <a href="@Url.Action("SuperDelete", "Booking", new { id = item.Id})"> Ta bort</a>
            </td>
        </tr>
    }
    </tbody>
</table>
