@model Seasharpbooking.Models.BookingModel

@{
    ViewData["Title"] = "SuperDelete";
}

<h1>Ta bort</h1>
<h2>Är du säker på att du vill ta bort denna bokningen?</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                Boknings ID
            </th>
            <th>
                Incheckning
            </th>
            <th>
                Utcheckning
            </th>
            <th>
                Rums Nummer
            </th>
            <th>
                Gäst ID
            </th>
            <th>
                Rums Typ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        
        <tr>
            <td>
                @Html.DisplayFor(Model => Model.Id)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.StartDate)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.EndDate)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.RoomId)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.GuestId)
            </td>
            <td>
                @Html.DisplayFor(Model => Model.CatDescription)
            </td>
            <td>
                <a href="@Url.Action("Delete", "Booking", new { id = Model.Id})"> Ta bort</a>
            </td>
        </tr>
        
    </tbody>
</table>
@*<table class="table">
    <thead>
        <tr>
            <th>
                Boknings ID
            </th>
            <th>
                Incheckning
            </th>
            <th>
                Utcheckning
            </th>
            <th>
                Rums Nummer
            </th>
            <th>
                Gäst ID
            </th>
            <th>
                Rums Typ
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GuestId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CatDescription)
            </td>
            <td>
                <a href="@Url.Action("Delete", "Booking", new { id = item.Id})"> Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>*@
