@model IEnumerable<Seasharpbooking.Models.RoomdescModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Rum</h1>

<p>
    <a asp-action="Create">Lägg till nytt rum</a>
</p>
<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>
                @*@Html.DisplayNameFor(model => model.CategoryId)*@ Typ av rum
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.Floor)*@ Våning
            </th>
            <th>
                @*@Html.DisplayNameFor(model => model.RoomNumber)*@ Rumsnummer
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @*Ändrar från Create till Edit, samt från Category till Room*@
                <a href="@Url.Action("Edit", "Room", new { id = item.Id})"> Redigera</a> |
                <a href="@Url.Action("Delete", "Room", new { id = item.Id})"> Ta bort</a>
            </td>
        </tr>
}
    </tbody>
</table>
